# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
backend/.venv/

# Environment
.env

# VS Code
.vscode/

# Uploads
backend/uploads/

# ChromaDB
backend/chroma_db/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db